@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Lobster');
/* Import for the button by canvasplay*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700,900');
/* End of import for the button by canvasplay*/
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body{
    background-image: linear-gradient(90deg, #d00000 10%, white 10%, white 90%, #d00000 90%);
}

/*--------------------------------------------------
   Button by canvasplay URL: https://codepen.io/canvasplay/pen/WXWobd 
  --------------------------------------------------*/
.wrapper {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button {
-webkit-touch-callout: none;
  user-select: none;
  display: inline-block;
  border: 0.2em solid;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-color: #d00000;
  opacity: 0.8;
  color: black;
}
.button__text {
  display: block;
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: bold;
}
.button__text:before {
  content: attr(title);
}
.button__text--bis {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-1em);
  opacity: 0;
}
.button__mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.3s;
}
.button:hover {
  color: white;
  opacity: 1;
}
.button:hover .button__text {
  animation: fx-text 0.3s ease-out;
}
.button:hover .button__text--bis {
  animation: fx-text-bis 0.3s ease-out;
}
.button:hover .button__mask {
  animation: fx-mask 0.3s ease-out;
}
.button:active {
  opacity: 1;
  background: red;
  color: white;
}
@keyframes fx-mask {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }
  100% {
    transform: translateX(100%) rotate(45deg);
  }
}
@keyframes fx-text {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1em);
    opacity: 0;
  }
}
@keyframes fx-text-bis {
  0% {
    transform: translateX(-1em);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*--------------------------------------------------
   End of button by canvasplay
  --------------------------------------------------*/

/*--------------------------------------------------
   Scrollbar 
  --------------------------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d00000; 
  border: 1px solid black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(148, 39, 39); 
}

/* --------------------------------------------------
    End of scrollbar 
   --------------------------------------------------*/

.ngx-text-highlight{
  background:yellow;
  color:black;
}

.mat-tooltip{
  color:#d00000!important;
  background: wheat;
  font-weight: bolder;
  border: 1px dashed black;
  position: relative;
  top:5px;
}

.fixed-bottom {
  z-index: 1000;
  border-top: 2px solid white;
}

.static{
  overflow-y: hidden; 
}


/* --------------------------------------------------
  Loading Spinner
 ---------------------------------------------------*/

.spinnerCont{
  height: 100vh;
  width:100vw;
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.spinnerCont img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  direction: rtl;
  object-position: left top;
  filter: blur(7px);
}

.loadCont{
  background: white;
  width: 200px;
  height: 200px;
  display: block;
  z-index: 1000;
  position: absolute;
  border: 3px solid black;
  border-radius: 100px;
}

 .lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 34%;
  left: 33%;
  transform: scale(2.5);
  border-radius: 150px;
  font-family: lobster;
  line-height: 64px;
  font-size: xx-small;
  font-style: italic;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: black;
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* --------------------------------------------------
  Loading Spinner End
 ---------------------------------------------------*/


@media only screen and (max-width: 400px) {
body {
  background-repeat-x: no-repeat;
  background-attachment: fixed;
}
}


@media only screen and (min-width: 901px) {
  body {
    box-shadow:
    inset 400px 0px 100px -400px black,
    inset -400px 0px 100px -400px black;
  }
}

::selection {
  color: #d00000;
  background: rgb(0, 204, 255);
  -webkit-text-stroke: 1px #d00000;
}