.homeCont {
    padding: 4% 10%;
    min-height: -webkit-fill-available;
    margin-top: -15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width:100vw;
}

#registerCont {
    width: 400px;
    padding: 31px;
    margin-top: 30px;
    text-align: center;
    border-radius: 5px;
    padding-left: 65px;
    font-family: 'Open Sans Condensed', sans-serif;
}    

.spring{
    line-height: 25px;
    animation: spring 0.5s 0.2s ease-in-out 1 forwards ;
}

@keyframes spring{
    0%{line-height: 25px;}
    50%{line-height: 55px}
    100%{line-height: 25px;}
}

.stick{
    width: 90px;
    position: absolute;
    top: -33px;
    margin-left: -40px;
    animation: stick 0.5s 0.2s ease-in 1 forwards;
}

@keyframes stick{
    0%{transform: rotateY(0deg);}
    50%{transform: rotateY(180deg);}
    100%{transform: rotateY(360deg);top: -100px;}
}


.cont {
    width: 400px;
    padding: 31px;
    margin-top: 30px;
    text-align: center;
    border-radius: 5px;
    padding-left: 65px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.regInp{
    width:140px;
}    

#regContofCont {
    display:flex;
    justify-content: flex-start;
}

.regCont{
    transform: translate(-30px);
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 280px;
    margin-left: 60px;
}

table {
    transform: translate(15px)
}    

#loginCont {
    transform: translate(20px);
}

#logContofCont{
    display:flex;
    justify-content: flex-start;
}

.about {
    width: 370px;
    padding-left: 31px;
    font-family: serif;
}


.bPanel {
    height: fit-content;
    line-height: 38px;
    color:white;
    background-color:#d00000;
    transform: translate(-15px) scale(1.006);
}

.cPanel {
    font-family:'Open Sans Condensed', sans-serif;
    
}

.notifications{
    text-align: left;
    padding-left: 25px;
    color: #d00000;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.notificationsCaseContinue {
    align-items: flex-start;
}


.formErr {
    display: none;
    position: absolute;
    margin-top: -20px;
    color: #dc3545;
    width: 300px;
    text-align: start;
}
.formErr::before {
    content: "* "
}

.is-invalid {
    background: rgb(248, 211, 211);
}

.blocked {
    display: block;
}

.unblocked{
    display: none;
}

.bottomErr {
    transform:translate(0px, 20px);
}

.is-logged{
    background-color: lightblue;
}

.alignLoginUI{
    transform:translate(-40px)
}

.notifyStatusWhenLogged{
    font-size: 100%;
    text-indent: 0px;
}

.shopBtn{
    margin-top:25px;
    transform: translate(-12px) scale(0.8);
}

  /*----------------------------------------------
    MEDIA QUERIES
  ----------------------------------------------*/


@media only screen and (min-width: 1650px) {
    body {
        background-image: linear-gradient(90deg, #d00000 10%, white 10%, white 90%, #d00000 90%);
        display: flex;
        justify-content: center;
        height: -webkit-fill-available;
        align-items: center;
    }
    
    .homeCont[_ngcontent-c1] {
      justify-content: center;
      flex-wrap: unset;
      align-items: center;
  }

  .bPanel {
    width: 520px;
}

  }
  
@media only screen and (max-width: 1222px) {
    .spinnerCont{
        align-self: self-start;
    }
}

@media only screen and (max-width: 1222px) and (min-width: 963px) {
    
    .bPanel {
        margin-top: 100px;
    }

}

@media only screen and (max-width: 1426px) and (min-width: 1222px) {
    
    body {
        overflow-x: hidden;
    }

    .homeCont {
        justify-content: center;
        align-items: center;
        margin-top: -10px;
    }
    
    .cont {
        zoom: 0.85;
    }
    
    #loginCont {
        padding-left: 31px;
    }

    .loginp {
        padding-left:30px;
    }

    .bPanel {
        transform: translate(-10px) scale(1.006);
    }

    .cPanel {
        margin-left: 10px;
        transform: translate(12px);
        }

  }

  @media only screen and (max-width: 962px) and (min-width: 925px) {
    .about { 
        position: relative;
        left: 30px;
        }
        
    .cPanel {
        transform: translate(-20px);
    }

    .homeCont {
        height: auto;
    }

    #loginCont {
        margin-top: 180px;
    }
}


@media only screen and (max-width: 900px) {

    .bPanel {
        width: -webkit-fill-available;
        transform: translate(0px) scale(1.006);
        box-shadow: -45px -10px 0px 10px #D00000, 45px -10px 0px 10px #d00000;
    }

    #loginCont {
        margin-top: 180px;
        width: -webkit-fill-available;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        padding-right: 35px;
    }

    .regCont{
        transform: translate(-20px);
        margin-top: 180px;
        width: -webkit-fill-available;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        margin-left: 0px;
    }

    .loginContWheconnected{
        padding: 0px 0px 20px 60px!important;
    }

    
    .alignLoginUI{
        transform:translate(0px)
    }

    .loginForm{
        transform: translate(12px);
    }

    .stick {
        align-self: center;
        margin-left: 0px;
    }

}

@media only screen and (max-width: 430px) {
    #regContofCont {
        transform: translate(20px);
    }
    
    .cPanel {
        margin-top:5px;
    }

    #logContofCont{
        margin-top: 25px;
    }

    .notifyStatusWhenLogged {
        width: 90%;
    }

    .regCont{
        margin-left: 0px;
    }
}

@media only screen and (max-width: 400px) {

    .homeCont {
        padding: 4% 10%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .shopBtn{
        max-width: 260px;
    }
    
}
