<div class="diagCont">
  <h3 style="font-family:fantasy;text-decoration: underline;">
    {{title}}</h3>
  <p style="max-height: 100px; font-family: 'Open Sans Condensed', sans-serif; font-weight: bold; overflow: auto;">
    {{description}}</p>
  <div>
    <img src='{{imgUrl}}'
      alt="{{title}}"
      style="width: 150px; border-bottom-right-radius: 150px; border: 1px ridge brown;object-fit: cover; height: 100px;">
    <p class="diagPrice ifSmallPic"
      [ngClass]="{ 'ifSmallPic': img_height < img_width}">
      ${{priceTag}}
    </p>
    <span style="font-family: serif; font-weight: bolder;position: relative; top: -50px;">Amount: {{amount}}</span>
  </div>
  <div class="ui">
    <div class="additionCont">
      <span><button mat-raised-button color="primary" class="red" (click)="minusP()">
          <mat-icon>exposure_neg_1</mat-icon>
        </button></span>
      <span class="prodPrice"
        [ngClass]="{ 'ifExpensive': totProdPrice.length > '5' }">Total:<br />${{totProdPrice}}</span>
      <span><button mat-raised-button color="primary" class="red" (click)="plusP()">
          <mat-icon>exposure_plus_1</mat-icon>
        </button></span>
    </div>
    <div class="action">
      <button mat-stroked-button color="warn" [mat-dialog-close]="false">Cancel <mat-icon>cancel</mat-icon></button>
      <button mat-stroked-button color="primary" [mat-dialog-close]="true" (click)="addProduct()">Proceed <mat-icon>
          add_shopping_cart</mat-icon></button>
    </div>
  </div>
</div>